<br>

<section>

  <mat-card class="example-card-two">

    <mat-card class="busqueda">

      <mat-form-field appearance="outline" class="seleccion">
        <mat-label>Seleccione un evento</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary">CONSULTAR</button>
    </mat-card>


    <mat-card class="card1">
      <div class="card3">

        <div style="text-align: center;"> <strong>
            <h1>DATOS DEL EVENTO</h1>
          </strong> </div>


        <div class="cardCurso2">
          <table class="table2">

            <tr aria-colspan="6">
              <td colspan="1">
                <strong>NOMBRE:: </strong>
              </td>
              <td colspan="1" class="txt">
                <input matInput required>
              </td>
            </tr>

            <tr aria-colspan="6">
              <td colspan="1">
                <strong>FECHA: </strong>
              </td>
              <td colspan="1" class="txt">
                <input matInput required>
              </td>
            </tr>

            <tr>
              <td>
                <strong>ACTIVIDADES </strong>
              </td>
              <td>
                <textarea matInput required class="texArea"></textarea>

              </td>

            </tr>


          </table>
        </div>

        <div class="cardCurso2">
          <table class="table2">
            <tr>
              <td>
                <strong>OBSERVACIÓN: </strong>
              </td>
              <td>
                <textarea matInput required class="texArea"></textarea>

              </td>

            </tr>

            <br>
            <tr>
              <td>
                <strong>DESCRIPCIÓN</strong>
              </td>
              <td>
                <textarea matInput required class="texArea"></textarea>

              </td>

            </tr>
          </table>

        </div>

      </div>

      <br>

      <div class="card3">

        <div style="text-align: center;"> <strong>
            <h1>DATOS FINALES</h1>
          </strong></div>


        <div class="card4">
          <table class="table2">

            <tr aria-colspan="6">
              <td colspan="1">
                <strong>NÚMERO PARTICIPANTES: </strong>
              </td>
              <td colspan="1" class="txt">
                <input type="number" matInput>
              </td>
            </tr>

            <tr aria-colspan="6">
              <td colspan="1">
                <strong>EVIDENCIA: </strong>
              </td>
              <td colspan="1">
                <mat-card-content>
                  <br><br>


                  <mat-form-field style="width: 100%;">
                    <mat-label>Seleccione un documento</mat-label>
                    <button mat-icon-button matPrefix (click)="f_input.click()">
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <input type="text" readonly matInput [formControl]="display" />
                    <input type="file" multiple hidden #f_input (change)="handleFileInputChange(f_input.files)" />
                    <mat-error>El documento es requerido</mat-error>
                  </mat-form-field>
                  <br><br>
                </mat-card-content>
              </td>
            </tr>


          </table>
        </div>

        <div class="card4">
          

          <br><br><br><br><br><br>

          <table class="table2">
            <tr style="text-align: center;">
              <td style="text-align:left ; width: 70%;">

              </td>

              <td>

                <button mat-button class="botonnaranja">GUARDAR
                  <mat-icon>save
                  </mat-icon>
                </button>
              </td>


            </tr>

          </table>

        </div>

      </div>




    </mat-card>






  </mat-card>
</section>