  .example-card-two {
    width: 95%;
    left: 20px;
    background-color: transparent;
    float: left;
    margin-bottom: 10px;
    border: 2px solid #f7f2dc;
    overflow: hidden;
    writing-mode: horizontal-tb;
    padding: 1rem;
    text-align: center;
  }
  
  .busqueda{
    margin: 0.5% auto;
    width: 95%;
    background-color: #f7f2dc;
    overflow: hidden;
  }

  .filter{
    width: 100%;
  }
  button{
    width: 25%;
    margin-left: 1vh;
  }
  .seleccion{
    width: 73%;
  }

  .card1{
    margin: 0.5% auto;
    width: 95%;
    background-color: #f7f2dc;
    overflow: hidden;
  }

  .table2 {
    width: 95%;
    margin: 1%;
    background-color: #f7f2dc;
  }

  
  .texArea {
    border: 1px solid #88c515;
    border-radius: 3px;
    position: relative; 
    right: 35px;
    width: 270px
  
  }  

  .cardCurso2 {
    background-color: #f7f2dc;
    width: 530px;
    float: left;
    margin-left: 25px;
    height: 210px;
    writing-mode: horizontal-tb;
    overflow: auto;
  }

  .txt {
    width: 70%;
  }
  
  .txt input {
    display: block;
    width: 70%;
    padding: 13px 16px;
    margin-bottom: 2%;
    font-size: 16px;
    border: 1px solid #F2921D;
    transition: border-width 0.2s ease;
    border-radius: 4px;
    color: #000000;
    outline: none;
  }

  .card3{
    background-color: transparent;
    width: 97%;
    overflow: hidden;
    left: 3px;
  }

  .card4 {
    background-color: #f7f2dc;
    width: 44%;
    float: left;
    margin-left: 25px;
    
    height: 230px;
    writing-mode: horizontal-tb;
    overflow: auto;
  }

  .botonnaranja {
    background-color: #ecb435;
    width: 150px;
    color: #000000;
  }

 

  .example-form-field {
    width: 200px;
  }