<br>

<section>

  <mat-card class="bordeev">


    <mat-card class="example-card">
      <mat-form-field appearance="outline" class="seleccion">
        <mat-label>Seleccione un Evento</mat-label>
        <select matNativeControl (change)="cargarParticipantesCurso($event)">
          <option value=""></option>
          <option *ngFor="let option of eventoLista" [value]="option.id" [selected]="selectedIdEvento === option.id">{{
            option.descripcion }}</option>
        </select>
      </mat-form-field>
    </mat-card>


    <div *ngIf="divMostrar==true">

      <mat-card class="example-card" style="background: #f7f2dc">
        <form [formGroup]="formGrupos">
          <mat-card-content style="background: #f7f2dc">

            <mat-grid-list cols="2" rowHeight="5:0.9">
              <h3>EVENTOS</h3>
              <h4>DATOS DEL EVENTO</h4>
              <div>
                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Nombre del evento</mat-label>
                    <input readonly="true" matInput formControlName="descripcion">
                  </mat-form-field>
                </mat-grid-tile>


              </div>

              <div>
                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Evento</mat-label>
                    <input readonly="true" matInput formControlName="fecha">
                  </mat-form-field>
                </mat-grid-tile>


              </div>

              <div>

                <mat-grid-tile rowspan="2">
                  <mat-form-field appearance="outline">
                    <mat-label>Actividades</mat-label>
                    <textarea readonly="true" matInput formControlName="actividades"></textarea>
                  </mat-form-field>
                </mat-grid-tile>


              </div>

              <div>
                <mat-grid-tile rowspan="2">
                  <mat-form-field appearance="outline">
                    <mat-label>Observación</mat-label>
                    <textarea readonly="true" matInput formControlName="observacion"></textarea>
                  </mat-form-field>
                </mat-grid-tile>

              </div>

              <div>
                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>NÚMERO PARTICIPANTES</mat-label>
                    <input type="number" matInput formControlName="participantes">
                  </mat-form-field>
                </mat-grid-tile>


              </div>

              <div>

                <mat-grid-tile>
                  <button type="button" mat-raised-button (click)="fileInput.click()" accept=".pdf">Elija el archivo</button>
                  <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
                </mat-grid-tile>
              </div>

            </mat-grid-list>
          </mat-card-content>

          <br>
          <button mat-flat-button color="warn" [disabled]="formGrupos.invalid" (click)="guardarEditarEvento()">GUARDAR
          </button>

          


        </form>
      </mat-card>



    </div>

  </mat-card>
</section>