<br>

<section>

    <mat-card class="example-card-two">

        <mat-card class="cardTipo">


            <mat-form-field appearance="outline" class="bordeFiltro">
                <mat-label>Buscar Evento</mat-label>
                <input matInput (keyup)="applyFilterTaller($event)" placeholder="Ex. Pintura con acuarela" #input>
                <mat-icon matSuffix>find_in_page</mat-icon>
            </mat-form-field>


            <mat-card-content>

                <section class="barra-deslizadora" tabindex="0">
                    <table mat-table [dataSource]="dataSourceEvento" style=" background-color: #f7f2dc ;">

                        <ng-container matColumnDef="nombreEvento">
                            <th mat-header-cell *matHeaderCellDef>
                                <div style="text-align: center;">
                                    <h3>MIS EVENTOS</h3>
                                </div>
                            </th>

                            <td mat-cell *matCellDef="let element">


                                <table class="table2">
                                    <tr style="text-align: center;">
                                        <td style="text-align:left ; width: 85%;">
                                            <div class="divtipo1"><strong>NOMBRE:
                                                </strong>{{element.nombreEvento|uppercase}}<br></div>
                                            <div class="divtipo1"><strong>FECHA:
                                                </strong>{{element.fecha}} <br></div>
                                        </td>

                                        <td>
                                            <button mat-stroked-button class="boton1"
                                                (click)="prueba(element.nombreEvento)">
                                                <mat-icon>forward</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </td>

                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsEvento"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsEvento;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No hay datos que coincidan con el
                                filtro
                                "{{input.value}}"
                            </td>
                        </tr>
                    </table>
                </section>


            </mat-card-content>


        </mat-card>






        <mat-card class="cardTipo">

          
                <mat-card-title>
                  <div style="text-align: center;"> DATOS DE EVENTO</div>
  
                </mat-card-title>
              
              <br>
              <mat-card-content>
                <table class="table2">
  
                    <tr aria-colspan="6">
                      <td colspan="1">
                        <strong>NOMBRE: </strong>
                      </td>
                      <td colspan="1" class="txt">
                        <input matInput  required>
                      </td>
                    </tr>
    
                    <tr aria-colspan="6">
                      <td colspan="1">
                        <strong>FECHA: </strong>
                      </td>
                      <td colspan="1" class="txt">
                        <input matInput  required>
                      </td>
                    </tr>
           
                    <tr>
                        <td>
                          <strong>ACTIVIDADES: </strong>
                        </td>
                        <td>
                          <textarea matInput  class="texArea"></textarea>
      
                        </td>
    
                      </tr>

                    <tr>
                        <td>
                          <strong>OBSERVACIÓN: </strong>
                        </td>
                        <td>
                          <textarea matInput  class="texArea"></textarea>
      
                        </td>
    
                      </tr>
    
                    <tr>

                      <td>
                        <strong>DESCRIPCIÓN: </strong>
                      </td>
                      <td>
                        <textarea matInput  class="texArea"></textarea>
    
                      </td>
  
                    </tr>
  
                    
  
    
                  </table>
              </mat-card-content>

              <mat-card-title>
                <div style="text-align: center;"> DATOS FINALES</div>

              </mat-card-title>
              
              
                <tr aria-colspan="6">
                    <td colspan="1">
                      <strong>NÚMERO PARTICIPANTES: </strong>
                    </td>
                    <td colspan="1" class="txt">
                      <input matInput  required>
                    </td>
                  </tr>

                  <tr aria-colspan="6">
                    <td colspan="1">
                      <strong>EVIDENCIA: </strong>
                    </td>
                    <td colspan="1" class="txt">
                      <input matInput  required>
                    </td>
                  </tr>
              

        </mat-card>

        <table class="table2" style=" background-color: transparent;">
            <tr style="text-align: center;">
              <td style="text-align:left;">
  
              </td>
              <td></td>
              <td></td>
  
              <div class="td1">
                <td>
                  <div>
                   
                  </div>
                </td>
  
                <td>
                  <div>
                    <button mat-button class="botonnaranja">
                      FINALIZAR E INSCRIBIR
                      <mat-icon>save</mat-icon>
                    </button>
                  </div>
  
                </td>
              </div>
  
            </tr>
  
  
          </table>


    </mat-card>
</section>