  .example-card-two {
    width: 95%;
    left: 20px;
    background-color: transparent;
    float: left;
    margin-bottom: 10px;
    border: 2px solid #f7f2dc;
    overflow: hidden;
    writing-mode: horizontal-tb;
    padding: 1rem;
    text-align: center;
  }
  
  .cardTipo {
    background-color: #f7f2dc;
    width: 44%;
    float: left;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid #0c3255;
    height: 500px;
    overflow: hidden;
    writing-mode: horizontal-tb;
  }
  
 
  .table2 {
    width: 100%;
    margin: 1%;
    background-color: #f7f2dc;
  }
  

  td,
  th {
    width: 25%;
  }
  
  .boton1 {
    background-color: #b4cc17;
    color: #0f0535;
  }
  
  
  
  .botonnaranja {
    background-color: #ecb435;
    color: #000000;
  }
  
 
  
  .txt {
    width: 70%;
  }
  
  .txt input {
    display: block;
    width: 90%;
    padding: 15px 5px;
    margin-bottom: 2%;
    font-size: 16px;
    border: 1px solid #F2921D;
    transition: border-width 0.2s ease;
    border-radius: 4px;
    color: #000000;
    outline: none;
  }
  
  
  .divtipo1 {
    margin: 1.5%;
  }
  
  .barra-deslizadora {
    background-color: #f7f2dc;
    height: 420px;
    width: 500px;
    max-width: 100%;
    overflow: auto;
  }
  
  .bordeFiltro {
    width: 100%;
    margin-bottom: 4%;
  }
  
  
  .colorclaro {
    color: white;
  }
  
  .table2 {
    width: 100%;
    margin: 1%;
    background-color: #f7f2dc;
  }
  
  .td1 {
    background-color: #f7f2dc;
    width: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
  }

  .texArea {
    border: 1px solid #88c515;
    border-radius: 3px;
    position: relative; 
    right: 10px;
    width: 347px;
    top: 20px;
  }
  