.opcionfd{
    
    background-color: #f47f16;
}

.opcion1fd{
    text-align: center;
   
}

.botonmenu{
    background-color: #f47f16;
    padding: 6px;
    border-color: transparent;
    color: #803f00
    ;
}