<mat-tab-group mat-align-tabs="center" backgroundColor="primary" color="warn">
  <mat-tab label="NUEVO USUARIO">
    <mat-card class="example-card" style="background: #f7f2dc">
      <form [formGroup]="formGrupos">
        <mat-card-content style="background: #f7f2dc">
          <mat-grid-list cols="2" rowHeight="5:0.9">
            <h3>USUARIOS</h3>
            <h4>DATOS DEL USUARIO</h4>
            <div>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Cédula</mat-label>
                  <input matInput formControlName="nombrecurso">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Estado Civil</mat-label>
                  <mat-select formControlName="estadoCivil">
                    <mat-option value="SOLTERO">SOLTERO</mat-option>
                    <mat-option value="CASADO">CASADO</mat-option>
                    <mat-option value="DIVORSIADO">DIVORSIADO</mat-option>
                    <mat-option value="VIUDO">VIUDO</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Nombres</mat-label>
                  <input matInput formControlName="nombreresponsable">
                </mat-form-field>
              </mat-grid-tile>

            </div>

            <div>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Apellidos</mat-label>
                  <input matInput formControlName="materiales">
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile rowspan="2">
                <mat-form-field appearance="outline">
                  <mat-label>Género</mat-label>
                  <input matInput formControlName="numparticipantes">
                </mat-form-field>
              </mat-grid-tile>

            </div>

            <div>
              <mat-grid-tile colspan="2">
                  <label id="example-radio-group-label">Discapacidad</label>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group">
                    <mat-radio-button class="example-radio-button">
                      Si
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button">
                      No
                    </mat-radio-button>
                  </mat-radio-group>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill">
                  <mat-label>Provincia</mat-label>
                  <mat-select [formControl]="animalControl" required>
                    <mat-option>--</mat-option>
                    <mat-option>
                      Azuay
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="animalControl.hasError('required')">Provincia</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Cantón</mat-label>
                  <mat-select [formControl]="animalControl" required>
                    <mat-option>--</mat-option>
                    <mat-option>
                      Azuay
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="animalControl.hasError('required')">Cantón</mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill">
                  <mat-label>Parroquia</mat-label>
                  <mat-select [formControl]="animalControl" required>
                    <mat-option>--</mat-option>
                    <mat-option>
                      Azuay
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="animalControl.hasError('required')">Parroquia</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Ubicacion</mat-label>
                  <mat-select [formControl]="animalControl" required>
                    <mat-option>--</mat-option>
                    <mat-option>
                      Azuay
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="animalControl.hasError('required')">Ubicacion</mat-error>
                </mat-form-field>
              </mat-grid-tile>

            </div>

            <mat-grid-tile colspan="2">
              <mat-divider></mat-divider>
              <h4>Representante</h4>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Cédula</mat-label>
                <input matInput formControlName="materiales">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="materiales">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>
        </mat-card-content>
        <button mat-flat-button color="warn" [disabled]="formGrupos.invalid" (click)="guardarCliente()">REGISTRAR
        </button>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="VER USUARIOS">
    <mat-card class="example-card-two">
      <mat-card-content>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="progress">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress</th>
              <td mat-cell *matCellDef="let row"> {{row.progress}}%</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="fruit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit</th>
              <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
